<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.javabrown.com/phonegap/res/ios"
    id="jb.x-services.plugins.calendar"
    version="4.2.8">

   <name>Calendar</name>

   <description>
     This plugin allows you to manipulate the native calendar.
   </description>

   <license>JavaBrown Foundation</license>

   <engines>
      <engine name="cordova" version=">=1.0.0" />
   </engines>

   <js-module src="www/jBrownJS.js" name="Calendar">
      <clobbers target="Calendar" />
   </js-module>

   <platform name="ios">
      <config-file target="config.xml" parent="/*">
         <feature name="Calendar">
            <param name="ios-package" value="Calendar" />
         </feature>
      </config-file>
      <header-file src="src/ios/JBrownCalendar.h" />
      <source-file src="src/ios/JBrownCalendar.m" />
      <framework src="EventKit.framework" />
      <framework src="EventKitUI.framework" />
   </platform>
   
</plugin>
